USE [master]
GO
/****** Object:  Database [REGISTRO]    Script Date: 10/09/2021 23:09:41 ******/
CREATE DATABASE [REGISTRO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'REGISTRO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\REGISTRO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'REGISTRO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\REGISTRO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REGISTRO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REGISTRO]
GO
/****** Object:  Table [dbo].[ALUMNO]    Script Date: 10/09/2021 23:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNO](
	[CODIGO] [varchar](5) NOT NULL,
	[NOMBRES] [varchar](100) NULL,
	[APELLIDOS] [varchar](100) NULL,
	[DIRECCION] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ALUMNO] ([CODIGO], [NOMBRES], [APELLIDOS], [DIRECCION]) VALUES (N'IT01', N'KIMBERLY', N'DE LEON', N'AV. INDEPENDENCIA  Sto. Dgo.')
INSERT [dbo].[ALUMNO] ([CODIGO], [NOMBRES], [APELLIDOS], [DIRECCION]) VALUES (N'IT02', N'RANGEL', N'ACEVEDO', N'AV. NUÑEZ Sto. Dgo.')
INSERT [dbo].[ALUMNO] ([CODIGO], [NOMBRES], [APELLIDOS], [DIRECCION]) VALUES (N'IT03', N'MARIO', N'PICHONEAU', N'AV. LUPERON Sto. Dgo.')
GO
USE [master]
GO
